<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/stylesheet.css" />

</head>

<body>
    <div class="main-contetn">
        {{>header}}
        <p>{{errorMsg}}</p>
    </div>
    {{>footer}}
</body>

</html>