<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/stylesheet.css" />
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portraint" src="/img/robot.png" />
    </div>
    {{>footer}}
</body>

</html>