<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/stylesheet.css" />
    <title>Home</title>
</head>

<body>
    <div class="main-contet">
        {{>header}}
    </div>
    {{>footer}}
</body>

</html>